<web-app>
    
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>
			pki.servlets.Register
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>
			pki.servlets.Login
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CertificatesList</servlet-name>
		<servlet-class>
			pki.servlets.CertificatesList
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CertificatesEdit</servlet-name>
		<servlet-class>
			pki.servlets.CertificatesEdit
		</servlet-class>
	</servlet>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>pki.filters.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/secure/*</url-pattern>
	</filter-mapping>
	
</web-app>